h1 {
  color: #e91e63;
  font-size: 70px;
}

h3 {
  font-size: 40px;
}
.startContainer {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.startBtn {
  background-color: #e91e63;
  color: #fff;
  font-size: 40px;
  border: none;
  border-radius: 10rem;
  width: 30%;
  height: 100px;
}
